%h1 New partner

- semantic_form_for @partner do |form|
  = render :partial => 'fields', :locals => { :form => form }
  
  = form.buttons
  

- content_for :sidebar do
  = render 'dashboards/account_details'