/* line 6, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus { outline: 0; }

/* line 20, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body { line-height: 1em; color: black; background: #fff; }

/* line 23, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 30, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 33, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote { quotes: "" ""; }
/* line 101, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 36, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a { border: none; }

/* line 1, sass/global.sass */
body { background: #fff; color: #333; font: 62.5%/1.5em "Lucida Grande", verdana, sans-serif; }

/* line 6, sass/global.sass */
a { color: #6db4d3; text-decoration: none; }
/* line 18, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover { color: #6db4d3; }

/* line 10, sass/global.sass */
h1 { font-size: 2em; }

/* line 13, sass/global.sass */
h2 { font-size: 1.8em; }

/* line 16, sass/global.sass */
h3 { font-size: 1.4em; }

/* line 19, sass/global.sass */
p { font-size: 1.2em; }

/* line 22, sass/global.sass */
#wrapper { width: 100%; margin-bottom: 1em; border-bottom: 4px solid #cee6f8; background: #ebf5fc; display: inline; float: left; margin: 0 0 1em 0; }
/* line 30, sass/global.sass */
#wrapper header { margin: 0 auto; padding: .75em 0 .5em 0; color: #fff; width: 950px; display: block; }
/* line 37, sass/global.sass */
#wrapper header h1 { font-size: 18px; line-height: normal; float: left; width: auto; margin: 0 1em 0 0; }
/* line 44, sass/global.sass */
#wrapper header h1 a { color: black; text-decoration: none; letter-spacing: -1px; }
/* line 18, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
#wrapper header h1 a:hover { color: #6db4d3; }
/* line 49, sass/global.sass */
#wrapper header p#current_user { color: #333; margin: .25em 0 0 0; display: inline; float: right; }
/* line 54, sass/global.sass */
#wrapper header ul { display: inline; float: right; margin: 0 0 0 1.5em; }
/* line 8, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
#wrapper header ul li { list-style-type: none; margin-left: 0px; }
/* line 59, sass/global.sass */
#wrapper header ul li { list-style-type: none; display: block; float: left; text-align: center; border-right: 1px #ddd solid; margin: .3em 0 0 0; }
/* line 67, sass/global.sass */
#wrapper header ul li a { display: block; padding: 0 1em; text-decoration: none; font-weight: normal; }
/* line 73, sass/global.sass */
#wrapper header ul li a:hover { color: #333; }
/* line 76, sass/global.sass */
#wrapper header ul li.search { border: none; margin: 0 .5em 0 0; }
/* line 80, sass/global.sass */
#wrapper header ul li.search input { border: 1px solid #ccc; padding: .2em; }
/* line 84, sass/global.sass */
#wrapper header ul li:last-child { border-right: none; }

/* line 87, sass/global.sass */
.container { margin: 0 auto; width: 950px; display: block; }

/* line 92, sass/global.sass */
section#content { float: left; width: 950px; display: block; }
/* line 97, sass/global.sass */
section#content section#main { display: inline; float: left; margin-right: 10px; width: 670px; margin-bottom: 2em; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html section#content section#main { overflow-x: hidden; }
/* line 101, sass/global.sass */
section#content section#main img { width: 48px; height: 48px; border: 1px solid #999; margin: 0 15px 5px 0; }
/* line 107, sass/global.sass */
section#content section#main .author { display: inline; float: left; font-weight: bold; font-size: 1.1em; }
/* line 112, sass/global.sass */
section#content section#main .time { display: inline; float: right; width: auto; font-size: .9em; color: #aaa; }
/* line 118, sass/global.sass */
section#content section#main .actions { display: inline; float: right; font-size: 10px; text-transform: uppercase; margin: 0 0 0 .5em; }
/* line 124, sass/global.sass */
section#content section#main .actions a { text-decoration: none; margin: 0 0 0 .5em; }
/* line 130, sass/global.sass */
section#content section#main .actions a:hover, section#content section#main .actions a:active { text-decoration: underline; }
/* line 133, sass/global.sass */
section#content section#main .note { border-top: 1px solid #e5e5e5; }
/* line 136, sass/global.sass */
section#content section#main h1 { margin: .5em 0 .25em; }
/* line 139, sass/global.sass */
section#content section#main p { clear: both; }
/* line 142, sass/global.sass */
section#content section#main table { clear: left; }
/* line 146, sass/global.sass */
section#content aside { width: 230px; display: inline; float: right; padding: .5em 0 .5em 1em; margin-bottom: 2em; }
/* line 152, sass/global.sass */
section#content aside section + section { margin: 1em 0 0 0; }
/* line 155, sass/global.sass */
section#content aside section { display: inline; float: left; margin-right: 0; width: 230px; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html section#content aside section { overflow-x: hidden; }
/* line 160, sass/global.sass */
section#content aside section.account_details h1, section#content aside section.contact_details h1 { font-weight: bold; line-height: normal; margin-bottom: .5em; font-size: 1.5em; }
/* line 166, sass/global.sass */
section#content aside section.account_details h2, section#content aside section.contact_details h2 { font-size: 1.2em; }
/* line 169, sass/global.sass */
section#content aside section.account_details h3, section#content aside section.contact_details h3 { font-size: 1em; }
/* line 173, sass/global.sass */
section#content aside section.account_details strong, section#content aside section.contact_details strong { font-weight: bold; }
/* line 176, sass/global.sass */
section#content aside section.account_details img, section#content aside section.contact_details img { border: 1px solid #999; margin: 0 10px 5px 0; display: inline; float: left; }
/* line 184, sass/global.sass */
section#content aside section p, section#content aside section dt, section#content aside section dd { font-size: .9em; color: #777; display: inline; float: left; clear: both; }
/* line 190, sass/global.sass */
section#content aside section dt { font-weight: bold; color: #555; }
/* line 194, sass/global.sass */
section#content aside section dd { clear: none; }
/* line 197, sass/global.sass */
section#content aside section dd + dd { clear: both; }
/* line 201, sass/global.sass */
section#content aside section.household h1 { margin-bottom: 0; }

/* line 204, sass/global.sass */
footer { border-top: 1px solid #ccc; width: 950px; clear: left; padding: 1em 0; margin: 2em auto 0; display: block; }
/* line 212, sass/global.sass */
footer p { text-indent: -9999px; background: url(/images/footer_logo.png) no-repeat 0 0; width: 68px; height: 26px; }

/* line 218, sass/global.sass */
#search { display: inline; float: left; margin-right: 10px; width: 670px; padding: .75em .5em; margin: 0 0 1em 0; border-top: 1px solid #999; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html #search { overflow-x: hidden; }
/* line 224, sass/global.sass */
#search ul { list-style-type: none; margin: .3em 0 0 .5em; display: inline; float: left; }
/* line 229, sass/global.sass */
#search ul li { display: inline; float: left; margin: 0 .5em 0 0; }
/* line 233, sass/global.sass */
#search ul li a { text-decoration: none; color: #6db4d3; }
/* line 18, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
#search ul li a:hover { color: #111111; }
/* line 237, sass/global.sass */
#search form { display: inline; float: right; margin: 0 .5em 0 0; }
/* line 241, sass/global.sass */
#search form input { border: 1px solid #ccc; padding: .35em; }

/* line 245, sass/global.sass */
#spinner { margin: 1.3em .6em 0 .6em; width: 16px; height: 16px; border: 0; }

/* line 2, sass/forms.sass */
section#main form { margin: 0 .5em .5em .5em; display: inline; float: left; }
/* line 6, sass/forms.sass */
section#main form label { width: 110px; display: inline-block; text-align: right; padding-right: 1em; }
/* line 12, sass/forms.sass */
section#main form input[type=text] { font-size: 18px; margin-bottom: .5em; padding: .2em; border: 1px solid #999; width: 350px; }
/* line 19, sass/forms.sass */
section#main form select { margin-bottom: 1em; font-size: 18px; }
/* line 23, sass/forms.sass */
section#main form button { display: inline; float: right; font-size: 24px; clear: right; margin-top: 1em; }

/* line 29, sass/forms.sass */
.button { display: inline; float: left; clear: left; margin: .75em .5em .5em 0; }
/* line 34, sass/forms.sass */
.button a, .button button, .button span { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #dddddd; background: #f7f7f7; display: inline; float: left; padding: .5em 1em; line-height: 1.5em; text-align: center; text-decoration: none !important; margin: 1px; font-size: .8em; font-weight: bold; color: #6db4d3; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; cursor: pointer; }
/* line 49, sass/forms.sass */
.button a:link, .button a:visited, .button button:link, .button button:visited, .button span:link, .button span:visited { background: #f7f7f7; }
/* line 52, sass/forms.sass */
.button a:hover, .button a:active, .button button:hover, .button button:active, .button span:hover, .button span:active { background: #fafafa; border-width: 2px; margin: 0; }

/* line 58, sass/forms.sass */
.errorExplanation { color: red; }

/* line 61, sass/forms.sass */
.fieldWithErrors { float: left; width: auto; }
/* line 65, sass/forms.sass */
.fieldWithErrors label { width: 110px; display: inline-block; text-align: right; padding-right: 1em; color: red; }
/* line 72, sass/forms.sass */
.fieldWithErrors input { font-size: 18px; margin-bottom: .5em; padding: .2em; border: 1px solid red; }
/* line 78, sass/forms.sass */
.fieldWithErrors input.disabled { cursor: default; border-width: 1px; color: #ccc; margin: 1px; }

/* line 1, sass/tables.sass */
table { display: inline; float: left; margin-right: 10px; width: 670px; margin: 0 0 1em 0; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table { overflow-x: hidden; }
/* line 7, sass/tables.sass */
table thead tr { display: inline; float: left; margin-right: 10px; width: 670px; border-bottom: 1px solid #999; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table thead tr { overflow-x: hidden; }
/* line 11, sass/tables.sass */
table thead tr th { display: inline; float: left; margin-right: 10px; width: 150px; font-weight: bold; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table thead tr th { overflow-x: hidden; }
/* line 15, sass/tables.sass */
table tr { display: inline; float: left; margin-right: 10px; width: 670px; padding: .5em; border-bottom: 1px solid #ddd; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table tr { overflow-x: hidden; }
/* line 22, sass/tables.sass */
table tr.even { background: #ebf5fc; }
/* line 25, sass/tables.sass */
table tr td { display: inline; float: left; margin-right: 10px; width: 150px; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table tr td { overflow-x: hidden; }
/* line 28, sass/tables.sass */
table th.name, table td.name { width: 190px; }
/* line 31, sass/tables.sass */
table th.email, table td.email { width: 230px; }
/* line 34, sass/tables.sass */
table th.login, table td.login { width: 110px; }
/* line 37, sass/tables.sass */
table th.actions, table td.actions { width: 70px; }
/* line 40, sass/tables.sass */
table th.members, table td.members { width: 30px; }
/* line 43, sass/tables.sass */
table th.address, table td.address { width: 230px; }
/* line 46, sass/tables.sass */
table th.phone, table td.phone { width: 110px; }

/* line 49, sass/tables.sass */
table.households { display: inline; float: left; margin-right: 10px; width: 670px; margin: 0 0 1em 0; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table.households { overflow-x: hidden; }
/* line 55, sass/tables.sass */
table.households thead tr { display: inline; float: left; margin-right: 10px; width: 670px; border-bottom: 1px solid #999; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table.households thead tr { overflow-x: hidden; }
/* line 59, sass/tables.sass */
table.households thead tr th { display: inline; float: left; margin-right: 10px; width: 150px; font-weight: bold; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table.households thead tr th { overflow-x: hidden; }
/* line 63, sass/tables.sass */
table.households tr { display: inline; float: left; margin-right: 10px; width: 670px; padding: .5em; border-bottom: 1px solid #ddd; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table.households tr { overflow-x: hidden; }
/* line 70, sass/tables.sass */
table.households tr.even { background: #ebf5fc; }
/* line 73, sass/tables.sass */
table.households tr td { display: inline; float: left; margin-right: 10px; width: 150px; }
/* line 97, ../../vendor/gems/chriseppstein-compass-0.8.12/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html table.households tr td { overflow-x: hidden; }
/* line 76, sass/tables.sass */
table.households th.name, table.households td.name { width: 110px; }
/* line 79, sass/tables.sass */
table.households th.actions, table.households td.actions { width: 70px; }
/* line 82, sass/tables.sass */
table.households th.members, table.households td.members { width: 70px; }
/* line 85, sass/tables.sass */
table.households th.address, table.households td.address { width: 230px; }
/* line 88, sass/tables.sass */
table.households th.phone, table.households td.phone { width: 110px; }
