html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body { background: #fff; color: #333; font: 62.5%/1.5em "Lucida Grande", verdana, sans-serif; }

a { color: #6db4d3; text-decoration: none; }
a:hover { color: #6db4d3; }

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.4em; }

#wrapper { width: 100%; margin-bottom: 1em; border-bottom: 4px solid #cee6f8; background: #ebf5fc; display: inline; float: left; margin: 0 0 1em 0; }
#wrapper header { margin: 0 auto; padding: .75em 0 .5em 0; color: #fff; width: 950px; display: block; }
#wrapper header h1 { font-size: 18px; line-height: normal; float: left; width: auto; margin: 0 1em 0 0; }
#wrapper header h1 a { color: black; text-decoration: none; letter-spacing: -1px; }
#wrapper header h1 a:hover { color: #6db4d3; }
#wrapper header p#current_user { color: #333; margin: .25em 0 0 0; display: inline; float: right; }
#wrapper header ul { display: inline; float: right; margin: 0 0 0 1.5em; }
#wrapper header ul li { list-style-type: none; margin-left: 0px; }
#wrapper header ul li { list-style-type: none; display: block; float: left; text-align: center; border-right: 1px #ddd solid; margin: .3em 0 0 0; }
#wrapper header ul li a { display: block; padding: 0 1em; text-decoration: none; font-weight: normal; }
#wrapper header ul li a:hover { color: #333; }
#wrapper header ul li.search { border: none; margin: 0 .5em 0 0; }
#wrapper header ul li.search input { border: 1px solid #ccc; padding: .2em; }
#wrapper header ul li:last-child { border-right: none; }

.container { margin: 0 auto; width: 950px; display: block; }

section#content { float: left; width: 950px; display: block; }
section#content section#main { display: inline; float: left; margin-right: 10px; width: 670px; margin-bottom: 2em; }
* html section#content section#main { overflow-x: hidden; }
section#content section#main img { width: 48px; height: 48px; border: 1px solid #999; margin: 0 15px 5px 0; }
section#content section#main .author { display: inline; float: left; font-weight: bold; font-size: 1.1em; }
section#content section#main .time { display: inline; float: right; width: auto; font-size: .9em; color: #aaa; }
section#content section#main .actions { display: inline; float: right; font-size: 10px; text-transform: uppercase; margin: 0 0 0 .5em; }
section#content section#main .actions a { text-decoration: none; margin: 0 0 0 .5em; }
section#content section#main .actions a:hover, section#content section#main .actions a:active { text-decoration: underline; }
section#content section#main .note { border-top: 1px solid #e5e5e5; }
section#content section#main h1 { margin: .5em 0 .25em; }
section#content section#main p { clear: both; }
section#content section#main form { margin: 0 .5em .5em .5em; display: inline; float: left; }
section#content section#main form label { width: 110px; display: inline-block; text-align: right; padding-right: 1em; }
section#content section#main form input[type=text] { font-size: 18px; margin-bottom: .5em; padding: .2em; border: 1px solid #999; }
section#content section#main form select { margin-bottom: 1em; }
section#content section#main form button { display: inline; float: right; font-size: 24px; clear: right; margin-top: 1em; }
section#content aside { width: 230px; display: inline; float: right; padding: .5em 0 .5em 1em; margin-bottom: 2em; }
section#content aside section + section { margin: 1em 0 0 0; }
section#content aside section { display: inline; float: left; margin-right: 0; width: 230px; }
* html section#content aside section { overflow-x: hidden; }
section#content aside section.account_details h1 { font-weight: bold; line-height: normal; margin-bottom: .5em; font-size: 1.5em; }
section#content aside section.account_details h2 { font-size: 1.2em; }
section#content aside section.account_details h3 { font-size: 1em; }
section#content aside section.account_details strong { font-weight: bold; }
section#content aside section.account_details img { border: 1px solid #999; margin: 0 10px 5px 0; display: inline; float: left; }
section#content aside section p, section#content aside section dt, section#content aside section dd { font-size: .9em; color: #777; display: inline; float: left; clear: both; }
section#content aside section dt { font-weight: bold; color: #555; }
section#content aside section dd { clear: none; }
section#content aside section dd + dd { clear: both; }
section#content aside section.household h1 { margin-bottom: 0; }

footer { border-top: 1px solid #ccc; width: 950px; clear: left; padding: 1em 0; margin: 2em auto 0; display: block; }
footer p { text-indent: -9999px; background: url(/images/footer_logo.png) no-repeat 0 0; width: 68px; height: 26px; }

#search { display: inline; float: left; margin-right: 10px; width: 670px; padding: .75em .5em; margin: 0 0 1em 0; border-top: 1px solid #999; }
* html #search { overflow-x: hidden; }
#search ul { list-style-type: none; margin: .3em 0 0 .5em; display: inline; float: left; }
#search ul li { display: inline; float: left; margin: 0 .5em 0 0; }
#search ul li a { text-decoration: none; color: #6db4d3; }
#search ul li a:hover { color: #111111; }
#search form { display: inline; float: right; margin: 0 .5em 0 0; }
#search form input { border: 1px solid #ccc; padding: .35em; }

#spinner { margin: 1.3em .6em 0 .6em; width: 16px; height: 16px; border: 0; }
