/*
Sass::SyntaxError: Undefined mixin 'link-colors'.
on line 7 of /Users/felix/Sites/reengage/public/stylesheets/sass/global.sass

3:   :color #333
4:   :font 62.5%/1.5em "Lucida Grande", verdana, sans-serif
5: 
6: a
7:   +link-colors(#6db4d3,#6db4d3)
8:   :text-decoration none
9:   
10: h1
11:   :font-size 2em
12: 
13: h2


Backtrace:
/Users/felix/Sites/reengage/public/stylesheets/sass/global.sass:7
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/mixin_node.rb:27:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:156:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:191:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/rule_node.rb:156:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:179:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:156:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `map'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:200:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:191:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:179:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:156:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/tree/node.rb:103:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:83:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:69:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:64:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:64:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:62:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin.rb:62:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.2.2/lib/sass/plugin/rails.rb:16:in `process_without_compass'
/Users/felix/Sites/reengage/vendor/gems/chriseppstein-compass-0.8.12/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
/Users/felix/Sites/reengage/vendor/rails/actionpack/lib/action_controller/test_process.rb:567:in `process_with_test'
/Users/felix/Sites/reengage/vendor/rails/actionpack/lib/action_controller/test_process.rb:447:in `process'
/Users/felix/Sites/reengage/vendor/rails/actionpack/lib/action_controller/test_process.rb:398:in `get'
./test/functional/accounts_controller_test.rb:11:in `__bind_1251923436_162586'
/Users/felix/Sites/reengage/vendor/gems/thoughtbot-shoulda-2.10.2/lib/shoulda/context.rb:369:in `call'
/Users/felix/Sites/reengage/vendor/gems/thoughtbot-shoulda-2.10.2/lib/shoulda/context.rb:369:in `run_current_setup_blocks'
/Users/felix/Sites/reengage/vendor/gems/thoughtbot-shoulda-2.10.2/lib/shoulda/context.rb:368:in `each'
/Users/felix/Sites/reengage/vendor/gems/thoughtbot-shoulda-2.10.2/lib/shoulda/context.rb:368:in `run_current_setup_blocks'
/Users/felix/Sites/reengage/vendor/gems/thoughtbot-shoulda-2.10.2/lib/shoulda/context.rb:350:in `test: GET :new should assign @account with a kind of Account. '
/Users/felix/Sites/reengage/vendor/rails/activesupport/lib/active_support/testing/setup_and_teardown.rb:62:in `__send__'
/Users/felix/Sites/reengage/vendor/rails/activesupport/lib/active_support/testing/setup_and_teardown.rb:62:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:34:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:33:in `each'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:33:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:34:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:33:in `each'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/testsuite.rb:33:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/ui/testrunnermediator.rb:46:in `run_suite'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/ui/console/testrunner.rb:67:in `start_mediator'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/ui/console/testrunner.rb:41:in `start'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/ui/testrunnerutilities.rb:29:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/autorunner.rb:216:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit/autorunner.rb:12:in `run'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/test/unit.rb:278
-e:1
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'link-colors'.\A on line 7 of /Users/felix/Sites/reengage/public/stylesheets/sass/global.sass\A \A 3:   :color #333\A 4:   :font 62.5%/1.5em \"Lucida Grande\", verdana, sans-serif\A 5: \A 6: a\A 7:   +link-colors(#6db4d3,#6db4d3)\A 8:   :text-decoration none\A 9:   \A 10: h1\A 11:   :font-size 2em\A 12: \A 13: h2\A "; }
