- form.inputs :name => "Essential info" do
  = form.input :full_name
  = form.input :email

- form.inputs :name => "About this person" do
  = form.input :admin, :required => false
  = form.input :avatar, :required => false